body{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(230, 230, 230);
    
}

.container{
    margin-bottom: 5rem;
}

.container__header{

    position: relative;
    
}

/* .container__header-img {
    width: 10vw;
    border-radius: 50%;
    position: absolute;
    left: 3rem;
    top: 2.5rem;
   

} */
.container__header-title{
    text-align: center;
}

.container__header-name {
    font-style: italic;
    text-align: center;
    background-color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 3.5rem;
    border-radius: 40px;
    font-size: 3rem;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    
}

.container__header-job {
    font-size: 1.5rem;

}

.container__header-contact{
    
    line-height: 2rem;
    position: absolute;
    top: 1rem;
    right: 3rem;
    background-color: rgb(230, 230, 230);
    max-width: 20vw;
    max-height: 25vh;
    border-radius: 40px;
}

.link{
    text-decoration: none;
}


.container__main{

    display: flex;
    justify-content: space-around;
}

.container__skills{
box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
background-color: white;
padding: 2rem;
border-radius: 40px;
line-height: 1.8rem;

}


.container__xp{
 box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
 background-color: white;
 padding: 2rem;
 border-radius: 40px;
 max-width: 40vw;
 
}

.container__xp-job--list {

    line-height: 1.8rem;
}

.footer__passions{
box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
margin: 2rem;
background-color: white;
padding: 1rem;
border-radius: 40px;

}

.footer__passions-title {

    text-align: center;
}

.footer__passions-list {


    display: flex;
    justify-content: space-around;
}

.footer__passions-list--item:hover {

    
    font-size: larger;
}

em{
    font-weight: bold;
    font-style: italic;
}

@media (max-width: 1400px){


    .container__header-name{
        padding-bottom: 8rem;
        
    }

   

    .container__header-contact--list{

        display: flex; 
        justify-content: space-around;
        max-width: 100vw;
        
    }
    .container__header-contact{
    position: absolute;
    top: 11rem;
    left: 4vw;
    right: 4vw;
   
    max-width: 100vw;
    background-color: white;
    
    
     
    }
    .container__header-contact--item{
       display: flex;
    }
}

@media (max-width: 600px){
    
    .container__header-contact{
        position: absolute;
        top: 25rem;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
        
    }

    .container__header-contact--list{
        display: flex;
        flex-direction: column;
    }

    .container__main{

        display: block;
    }

    .container__skills{
        margin-top: 30vh;
    }

    .container__xp{
        margin-top: 5vh;
        max-width: 100vw;
    }
}